<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar With Bootstrap</title>
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="./Admin.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="wrapper">
        <aside id="sidebar">
            <div class="sticky-sidebar">
                <div class="d-flex mt-3" id="sidebar-js">
                    <button class="toggle-btn" type="button">
                        <i class="lni lni-grid-alt fw-bold fs-2"></i>
                    </button>
                    <div class="sidebar-logo ms-3">
                        <a href="#"><img src="./images/logo-2.svg" alt=""></a>
                    </div>
                </div>
                <ul class="sidebar-nav">
                    <li class="sidebar-item" id="sidebar-item">
                        <!-- <a href="#" class="sidebar-link border-top border-bottom">
                            <img style="border-radius: 50%; margin-left: -10px;" src="./images/profile-1.png"
                                width="40px" height="40px" alt="">
                            <span class="ps-4 fw-bold fs-6">Super Admin</span>
                        </a> -->
                    </li>
                    <div id="sidebar-li">
                        <!-- <li class="sidebar-item mt-4">
                            <a href="#" class="sidebar-link">
                                <i class="bi bi-speedometer fs-5"></i>
                                <span class="fw-bold fs-6">Dashboard</span>
                            </a>
                        </li> -->
                        <!-- 
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                                <i class="fa-solid fa-user-doctor fs-4"></i>
                                <span class="fw-bold fs-6">Doctor</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                                <i class="fa-solid fa-bed-pulse fs-5"></i>
                                <span class="fw-bold fs-6">Patient</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                                <i class="bi bi-calendar3 fs-5"></i>
                                <span class="fw-bold fs-6">Doctor Schedule</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                                <i class="bi bi-calendar-check fs-5"></i>
                                <span class="fw-bold fs-6">Patient Appointment</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                                <i class="bi bi-files fs-5"></i>
                                <span class="fw-bold fs-6">Patient Case Studies</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                                <i class="bi bi-prescription fs-5"></i>
                                <span class="fw-bold fs-6">Prescription</span>
                            </a>
                        </li> -->
                    </div>
                </ul>
            </div>
        </aside>
        <div class="main p-3">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                        <i class="bi bi-globe"></i>
                        <span class="ps-2">Go To Website</span>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                        <ul class="navbar-nav" id="navbar-nav">
                            <!-- <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <i class="bi bi-hospital text-light fs-5 px-1"
                                        style="background-color: #005C8D;"></i>
                                    <span class="ps-3">HelthEase</span> 
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown ms-lg-5">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <img src="./images/profile-1.png" width="30px" height="30px" alt="">
                                    <span class="ps-3">Mr Patient</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown ms-lg-5">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <img src="./images/flag india.png" width="40px" alt="">
                                    <span class="ps-3">Indian</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">English</a></li>
                                    <li><a class="dropdown-item" href="#">Spanish</a></li>
                                    <li><a class="dropdown-item" href="#">UK</a></li>
                                </ul>
                            </li> -->
                        </ul>
                    </div>
                </div>  
            </nav>
            <section class="sec-1">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-10 col-lg-10 col-md-10 p-4 sec1-1">
                            <h1>Dashboard</h1>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-2 text-danger fw-bold pt-xl-5 pt-lg-5 pt-md-5 ps-4">
                            <p>Dashboard</p>
                        </div>
                    </div>
                    <div class="row" id="Dashboard1">
                        <!-- <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                            <div class=" ps-4 bg-white rounded-3 mt-3">
                                <div class="row">
                                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                                        <h5>Department</h5>
                                        <h4>8</h4>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 text-center">
                                        <img style="background-color: #005C8D;" class="mt-2" src="./images/setting.png" width="55px" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                            <div class=" ps-4 bg-white rounded-3 mt-3">
                                <div class="row">
                                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                                        <h5>Doctor</h5>
                                        <h4>14</h4>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 text-center">
                                        <img style="background-color: #005C8D;" class="mt-2" src="./images/doctor.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                            <div class=" ps-4 bg-white rounded-3 mt-3">
                                <div class="row">
                                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                                        <h5>Patient</h5>
                                        <h4>4</h4>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 text-center">
                                        <img style="background-color: #005C8D;" class="mt-2" src="./images/patient.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                            <div class=" ps-4 bg-white rounded-3 mt-3">
                                <div class="row">
                                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                                        <h5 class="fs-5">Patient Appointment</h5>
                                        <h4>8</h4>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 text-center">
                                        <img style="background-color: #005C8D;" class="mt-2" src="./images/setting.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                            <div class=" ps-4 bg-white rounded-3 mt-3">
                                <div class="row">
                                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                                        <h5>Department</h5>
                                        <h4>8</h4>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 text-center">
                                        <img style="background-color: #005C8D;" class="mt-2" src="./images/setting.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                            <div class=" ps-4 bg-white rounded-3 mt-3">
                                <div class="row">
                                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                                        <h5>Department</h5>
                                        <h4>8</h4>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 text-center">
                                        <img style="background-color: #005C8D;" class="mt-2" src="./images/setting.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                            <div class=" ps-4 bg-white rounded-3 mt-3">
                                <div class="row">
                                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                                        <h5>Department</h5>
                                        <h4>8</h4>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 text-center">
                                        <img style="background-color: #005C8D;" class="mt-2" src="./images/setting.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                            <div class=" ps-4 bg-white rounded-3 mt-3">
                                <div class="row">
                                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                                        <h5>Department</h5>
                                        <h4>8</h4>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 text-center">
                                        <img style="background-color: #005C8D;" class="mt-2" src="./images/setting.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="container-fluid mt-4">
                    <div class="row" id="Dashboard-2">
                        <!-- <div class="col-xl-8">
                            <div class=" bg-white rounded-3 text-center">
                                <p class="fs-4 pt-4">Monthly Registered Users </p>
                                <img src="./images/graph.png" width="100%" alt="">
                            </div>
                        </div>
                        <div class="col-xl-4 mt-xl-0 mt-sm-4">
                            <div class="bg-white rounded-3">
                                <div class="row ps-3 pt-4">
                                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                                        <p class="fs-4 mt-2">Monthly<br>Earning</p>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 text-white pt-3 px-4 rounded-3 mt-3" style="background-color: #fd0049; height: max-content; width: max-content;">
                                        <p>Weekly</p>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 pt-3 px-4 rounded-3 mt-3">
                                        <p>Monthly</p>
                                    </div>
                                    <div class="col-xl-8 col-lg-9 col-md-9 mt-4">
                                        <p class="mb-0">This Week</p>
                                        <p class="fs-2 mt-1">$29.5</p>
                                        <p><span style="color: #fd0049;">-31.08%</span> From Previous week earning</p>
                                    </div>
                                    <div class="col-xl-4 col-lg-3 col-md-3 mt-5">
                                        <img src="./images/earning.png" alt="">
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mt-5 text-center">
                                        <img src="./images/download.png" alt="">
                                        <p class="mt-3">1st 15 days<br>Analytics</p>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mt-5 text-center">
                                        <img src="./images/download (2).png" alt="">
                                        <p class="mt-3">last 15 days<br>Analytics</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-5">
                            <div class=" bg-white pb-2 mb-2 pt-4 px-4 rounded-3">
                                <p>Copyright © 2024 HealthEase Medical. All rights reserved.</p>
                            </div>
                        </div> -->
                    </div>
                </div>
            </section>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script src="./Admin.js"></script>
</body>

</html>